<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drop down menu</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/dropdown-menu.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="dropdown-menu">
        <div class="dropdown-menu__select">
            <span class="dropdown-menu__selected">Menu</span>
            <i class='bx bx-chevron-down dropdown-menu__caret'></i>
        </div>
        <div class="dropdown-menu__list">
            <div class="dropdown-items">
                <ul class="dropdown-items__name">
                    <li><a href="#" target="_blank" rel="noopener noreferrer">Listening</a></li>
                    <li><a href="#" target="_blank" rel="noopener noreferrer">Speaking</a></li>
                    <li><a href="#" target="_blank" rel="noopener noreferrer">Reading</a></li>
                    <li><a href="#" target="_blank" rel="noopener noreferrer">Writing</a></li>
                </ul>
            </div>
        </div>
    </div>    
</body>
</html>