* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}


body {
    font-family: "Poppins", sans-serif;
}

.top-bar {
    width: 100%;
    height: 2rem;
    background-color: white;

}

.top-bar--container-fluid {
    width: 100%;
    height: 2rem;

}

.top-bar__row {
    width: 100%;
    height: 2rem;

    display: inline-flex;
    position: relative;
}

.social-list-col {
    width: 80%;
    height: 2rem;

    /* margin-left: 5rem; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.light-mode-col {

    width: 20%;
    height: 2rem;
    
    /* margin-left: 95rem; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-bar__social-list {
    height: 2rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.top-bar__social-list > li{
    height: 2rem;
}

.top-bar__social-list > li > a{
    height: 2rem;
}




/* header__top-nav */
.top-nav {
    /* display: flex; */
    width: 100%;
    height: 7rem;
    background: linear-gradient(to right, rgb(134, 221, 228), rgb(211, 211, 240));
}

/* .top-nav__menu{
    display: flex;
} */

.top-nav--container-fluid {
    height: 7rem;
}

.top-nav__row {
    display: inline-flex;
    height: 7rem;
    width: 100%;
}

.col-logo {
    width: 10%;
}

.col-menu {
    width: 50%;
}
.col-search {
    width: 30%;
}

.top-nav__logo {
    margin-left: 2rem;
}


.top-nav__logo > img {
    margin-top: 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.top-nav__menu {
    height: 7rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* position: relative; */
}

.top-nav__menu-list{
    height: 7rem;
    display: inline-flex;
    padding: 0;
    /* margin-top: 2.5rem; */
    margin-left: 10rem;
    list-style-type: none;

}

.top-nav__menu-list > li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
}

.top-nav__menu-list > li > a{
    padding: 5px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    /* margin-left: 1.5rem; */
    
}


.top-nav__logo {
    width: 50px;
    height: 50px;
}




.top-nav__search {
    height: 7rem;
    position: relative;
}

.search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.col-account {
    width: 10%;
    height: 7rem;
    position: relative;
    margin-right: 5rem;
}

.top-nav__account {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-nav__account > a > i{
    font-size: 4rem;
}

